.main-skills {
  min-width: 450px
  margin-top: 40px;
  background-color: #e3e6fb;
  padding: 22px 0px;
  margin-top: 0px;
}
.main-skills .skill-header {
  transform: skew(-35deg);
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -o-transform: skew(-35deg);
  background-color: #f4783d;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: -124%;
  width: 138%;
  margin-top: -22px;
}
.main-skills .skill-header h1 {
  margin-left: 90%;
  width: 138%;
  transform: skew(35deg);
  -webkit-transform: skew(35deg);
  -ms-transform: skew(35deg);
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
  color: #fff;
}

@media only screen and (max-width: 988px) {
  .main-skills .skill-header {
    margin-left: -87%;
    width: 130%;
  }
  .main-skills .skill-header h1 {
    margin-left: 66%;
    width: 138%;
  }
}

.main-skills h1 {
  color: #666;
}
.main-skills .progress {
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 3px 5px 7px #ccc;
  -webkit-box-shadow: 3px 5px 7px #ccc;
  -moz-box-shadow: 3px 5px 7px #ccc;
  -ms-box-shadow: 3px 5px 7px #ccc;
  -o-box-shadow: 3px 5px 7px #ccc;
}
.main-skills .progress-bar {
  border-radius: 50px;
  font-weight: bold;
  color: #0e1d25;
}
