@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;1,100&display=swap");

body {
  height: 3000px;
}
i {
  color: rgb(0, 0, 0);
}
.about-me {
  transform: skew(-35deg);
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -o-transform: skew(-35deg);
  /* background-color: #ea7da6; */
  background-color: #f5f5f5;
  overflow: hidden;
  margin-bottom: 20px;
}
.about-me h1 {
  -webkit-transform: skew(35deg);
  -ms-transform: skew(35deg);
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
  text-align: center;
  font-weight: bold !important;
  text-transform: uppercase;
}
.about {
  /* background-color: #cf4b7c; */
  margin-bottom: 20px;
  font-family: "Exo 2", sans-serif;
  border-bottom: 28px solid #e7e7e7;
}

.about .card {
  box-shadow: 5px 6px 12px #cc94a8;

  -webkit-box-shadow: 5px 6px 12px #cc94a8;

  -moz-box-shadow: 5px 6px 12px #cc94a8;

  -o-box-shadow: 5px 6px 12px #cc94a8;

  -ms-box-shadow: 5px 6px 12px #cc94a8;

  box-shadow: 5px 6px 12px #cc94a8;

  border-radius: 0px;
}

.about .card img {
  width: 150px;

  height: 150px;

  margin: auto;

  border-radius: 50%;
}

.about .card h2,
.about .card h4 {
  font-family: "Exo 2", sans-serif;
}

.about .about-info {
  background-color: #fff;

  height: 100%;

  padding: 20px;

  -webkit-box-shadow: 5px 6px 12px #cc94a8;

  -moz-box-shadow: 5px 6px 12px #cc94a8;

  -o-box-shadow: 5px 6px 12px #cc94a8;

  -ms-box-shadow: 5px 6px 12px #cc94a8;

  box-shadow: 5px 6px 12px #cc94a8;
}

.about .about-info h2 {
  font-family: Arial, Helvetica, sans-serif;

  font-weight: bold;

  font-family: "Exo 2", sans-serif;

  text-transform: uppercase;
}

.about .about-info h2:before {
  content: "";

  border-bottom: 1px solid #cf4b7c;

  border-width: 4px;

  width: 148px;

  position: absolute;

  top: 58px;
}

/* Start of Education section style */

.education {
  width: auto;
  height: auto;
  /* background-color: tomato; */
  background-color: #f5f5f5;
  margin-top: -20px;
  position: relative;
  display: block;
}

.education .education-header {
  transform: skew(-35deg);
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -o-transform: skew(-35deg);
  /* background-color: #ec8876; */
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 20px;
}
.education .education-header h1 {
  -webkit-transform: skew(35deg);
  -ms-transform: skew(35deg);
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
  text-align: center;

  text-transform: uppercase;
}

.education .bacholer,
.education .associate,
.education .certs {
  background-color: #fff;

  height: 100%;

  position: relative;

  display: block;
  -o-box-shadow: 5px 6px 12px #cc94a8;
  -ms-box-shadow: 5px 6px 12px #cc94a8;
  box-shadow: 5px 6px 12px #cc94a8;
}

.education img {
  width: 100%;
  height: auto;
  display: block;
}
/*
.education .associate h3,
.education .certs h3 {
  font-size: 14px;
}

.education .bacholer img {
  width: auto;

  height: 100%;

  display: block;

  border: 2px solid #ccc;

 

  float: left;

  margin: auto;
}

.education .bacholer .cs {
  margin: auto;

  display: block;

  position: relative;
}

.education .bacholer .cs h3 {
  font-size: 14px;

  top: 96px;

  left: 0px;

  position: absolute;

  right: -205px;
}

.education .bacholer .cs h3:before {
  content: "\2713";

  font-size: 20px;
}

.education .certs ul li {
  list-style: "\2713";

  margin-right: 5px;
}

.education .certs ul li:before {
  width: 50px;

  height: 50px;

  background-color: #443;

  content: "\2713";

  color: #fff;

  padding: 20px;
} */

/* End of Education section style*/
