.footer {
  background-color: #272727;
  color: #a9a1a1;
  margin-bottom: 0px;
  position: relative;
}
.footer .footer-copyright {
  background-color: #000;
  line-height: 50px;
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
}
.footer .three-columns {
  overflow: hidden;
}
.footer .three-column li {
  width: 33.3333%;
  float: left;
  padding: 3px 0;
  margin-bottom: 45px;
  font-size: 14px;
}
