.built-with-react {
  width: auto;
  height: 155px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/built-with.png);
  display: block;
  overflow: hidden;
  position: relative;
}
